.Results {
  text-align: left;
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
}

.Results h2 {
  font-size: 64px;
  margin-bottom: 25px;
  color: rgb(0, 0, 0);
  margin-top: 70px;
}

.Results .Meaning {
  margin-top: 25px;
  margin-bottom: 25px;
  border: solid 1px rgb(224, 224, 224);
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(224, 224, 224);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}
