.Results {
  text-align: left;
  margin-left: 25px;
  margin-top: 25px;
}

.Results h2 {
  font-size: 42px;
  margin-bottom: 25px;
}

.Results .Meaning {
  margin-top: 25px;
  margin-bottom: 25px;
  border: solid 1px black;
  border-radius: 5px;
  padding: 15px;
  background-color: rgb(224, 224, 224);
}
